<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="wheel" class="DependencyInjection.Porsche.Wheel">
        <property name="wheelsize" value="16"/>
    </bean>

    <bean id="Car" class="DependencyInjection.Porsche.Car">
        <property name="wheelObj" ref="wheel"/>
    </bean>

</beans>
